.wl-root{
     -fx-background-color: radial-gradient(
        center 50% 52.5%,
        radius 100%,
        #0E355C 0%,
        #100E48 90%
    );
    -fx-font-family: "Lexend";
}

.nav-back{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255,255,255,0.92);
    -fx-font-size: 16px;
    -fx-padding: 8 10;
    -fx-cursor: hand;
}
.nav-back:hover{ -fx-text-fill: white; }
.nav-back:pressed{ -fx-scale-x:0.98; -fx-scale-y:0.98; }

.page-title{
    -fx-text-fill: white;
    -fx-font-size: 44px;
    -fx-font-weight: 800;
}

/* card */
.wl-card{
    -fx-pref-width: 760px;
    -fx-max-width: 760px;
    -fx-max-height: 560px;
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-effect: dropshadow(gaussian, rgba(15,23,42,0.30), 18, 0.18, 0, 10);
}

.muted{ -fx-text-fill:#475569; -fx-font-size:14px; -fx-font-weight:500; }

.pill{
    -fx-background-color:#2563eb;
    -fx-text-fill:white;
    -fx-padding: 6 16;
    -fx-background-radius: 999px;
    -fx-font-size:12px;
    -fx-font-weight:900;
}

.section-title{
    -fx-text-fill:#0f172a;
    -fx-font-size:22px;
    -fx-font-weight:900;
}

.counter-btn{
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-max-width: 64px;
    -fx-max-height: 64px;
    -fx-background-color:#2563eb;
    -fx-text-fill:white;
    -fx-font-size:26px;
    -fx-font-weight:900;
    -fx-background-radius: 14px;
    -fx-cursor: hand;
}
.counter-btn:hover{ -fx-background-color:#1d4ed8; }
.counter-btn:pressed{ -fx-scale-x:0.985; -fx-scale-y:0.985; }

.counter-value{
    -fx-min-width: 140px;
    -fx-min-height: 90px;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-color:#2563eb;
    -fx-border-width:2px;
    -fx-border-radius:14px;
    -fx-background-radius:14px;
    -fx-text-fill:#0f172a;
    -fx-font-size:60px;
    -fx-font-weight:900;
}

.hint{
    -fx-text-fill:#64748b;
    -fx-font-size:13px;
    -fx-font-weight:500;
}

.info-pill{
    -fx-min-width: 560px;
    -fx-max-width: 560px;
    -fx-background-color: rgba(37,99,235,0.08);
    -fx-border-color: rgba(37,99,235,0.35);
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}
.info-text{
    -fx-text-fill:#334155;
    -fx-font-size:13px;
    -fx-font-weight:600;
}

.btn-wide{ -fx-max-width: 560px; }

.btn-primary{
    -fx-min-width: 560px;
    -fx-background-color:#2563eb;
    -fx-text-fill:white;
    -fx-font-size:15px;
    -fx-font-weight:900;
    -fx-background-radius:14px;
    -fx-padding:14 16;
    -fx-cursor: hand;
}
.btn-primary:hover{ -fx-background-color:#1d4ed8; }
.btn-primary:pressed{ -fx-scale-x:0.985; -fx-scale-y:0.985; }

.help-box{
    -fx-min-width: 560px;
    -fx-max-width: 560px;
    -fx-background-color:#f8fafc;
    -fx-background-radius: 16px;
}
.help-text{
    -fx-text-fill:#475569;
    -fx-font-size:13px;
    -fx-font-weight:500;
    -fx-text-alignment:center;
    -fx-alignment:center;
}
